.vscode/
.bundle/

build/
dist/

docs/

node_modules/
vendor/

tmp/
log/

.husky
.storybook

.git/
.github/
.git*

.env
.env*
.*cache

.editorconfig

.eslint*

.prettier*

commitlint*

**/[Dd]ocker*

**/.DS_Store

tests/
!tests/supports/
!tests/fixtures/
!tests/bootstrap.ts

bruno/

charts/
