<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      color: #333;
      margin-top: 20px;
    }
    .container {
      max-width: 600px;
      margin: auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }
    .button:hover {
      background-color: #0056b3;
    }
    .logo {
      width: 150px; /* Độ rộng logo */
      margin-bottom: 20px; /* Khoảng cách dưới logo */
    }
  </style>
</head>
<body>
  <div style="font-family: Arial, sans-serif; max-width: 600px; margin: auto; background-color: #f9f9f9; padding: 20px; border: 1px solid #ddd; border-radius: 8px;">
    
    <!-- Thêm logo của công ty -->
    <div style="text-align: center;">
      <img src="https://vieclam365.top/static/media/light-text-logo.111a84a28c9e9cac6373.png" alt="Logo" class="logo">
    </div>
    
    <h1 style="color:rgb(30, 13, 185);">Chào mừng đến với <b>Việc làm 365</b></h1>
    <p>Chào <b>{{name}}</b>!,</p>
    <p>Chúng tôi rất vui khi bạn gia nhập Việc làm 365 – nơi bạn có thể tìm kiếm và ứng tuyển vào mọi công việc mơ ước. Hãy bắt đầu ngay hôm nay!</p>
    
    <p>Cảm ơn bạn đã đăng ký. Vui lòng nhấn vào nút dưới đây để xác thực email của bạn:</p>
    
    <a href="{{verificationLink}}" style="display: inline-block; padding: 10px 20px; background-color: #4caf50; color: #fff; text-decoration: none; border-radius: 5px; margin-top: 10px;">Xác thực email</a>
    
    <p style="margin-top: 20px;">Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua email này.</p>
    
    <p>Trân trọng,</p>
    <p>Đội ngũ hỗ trợ Việc làm 365</p>
    
    <footer style="margin-top: 30px; text-align: center; color: #888;">
      <p>© 2024 Việc làm 365 - Tìm kiếm công việc dễ dàng, nhanh chóng</p>
      <p><a href="https://www.facebook.com/vukiman1" target="_blank">Facebook</a> | <a href="https://github.com/vukiman1" target="_blank">GitHub</a></p>
    </footer>
  </div>
</body>
</html>
